In [ ]:
python_class = 'AWS'
first_name = 'Matthew'
last_name ='Nosakhare'
the_third_prime = 5
today_date = '9/26/2023'

In [ ]:
print(type(python_class))
print(type(first_name))
print(type(last_name))
print(type(the_third_prime))
print(type(today_date))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

In [ ]:
numeric = 45
#phone_num = 290578L
first_name = 1.02
event_type = True
pet_activity = 'my dog is on the bed'
game_name = '45'

In [ ]:
print(type(numeric))
print(type(first_name))
print(type(event_type))
print(type(pet_activity))
print(type(game_name))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'str'>

In [ ]:
int(2.5)

2

In [ ]:
chr(80)

'P'

In [ ]:
a =' 2.5'
type(a)

str

In [ ]:
a = 10

In [ ]:
# converstion of float to int
num1 = 10
num2 = 20

num3 = num1 + num2

In [ ]:
print("your answer is", num3)

your answer is 30

In [ ]:
# conversion of int to float
num1 = 10
num2 = 20

num3 = num1 + num2

In [ ]:
print("your answer is", num3)

your answer is 30

In [ ]:
print("your answer is", float(num3))

your answer is 30.0

In [ ]:
type(num3)

int

In [ ]:
num3 = float(num3)
type(num3)

NameError: name 'num3' is not defined

In [ ]:
empty = []
print(type(empty))

<class 'list'>

In [ ]:
my_val = [1, 2, 3, 4, 5, 6, 7]
print(my_val)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#How to find the size of a list
size = len('my_val')
print(size)

6

In [ ]:
#change val
my_val[0] = 'moses'
my_val[-1] = 0
my_val

['moses', 2, 3, 4, 5, 6, 0]

In [ ]:
# to add at the end of the list
my_val.append('Grace')
my_val

['moses', 2, 3, 4, 5, 6, 0, 'Grace', 'Grace']

In [ ]:
#to add to any position in the list
my_val.insert(4,'Ik')
my_val

['moses', 2, 3, 4, 'Ik', 'Ik', 5, 6, 0, 'Grace', 'Grace']

In [ ]:
#to sort a list, its a method, cos it has a dot.
my_var2 = [20, 10, 5, 17, 13, 8]
my_var2.sort()
print(my_var2)

[5, 8, 10, 13, 17, 20]

In [ ]:
# sorted is afuntion, cos it does nt hv dot
my_var2 = [20, 10, 5, 17, 13, 8]
sorted_list = sorted(my_var2)
print(sorted_list)
print(my_var2)

[5, 8, 10, 13, 17, 20]
[20, 10, 5, 17, 13, 8]

In [ ]:
# REverse a list using sorted method
my_var2 = [20, 10, 5, 17, 13, 8]
reverse = sorted(my_var2, reverse=True)
print(reverse)

[20, 17, 13, 10, 8, 5]

In [ ]:
var1 = [1,2,3,4,5]
var2 = [6,7,8,9,10]
var1.append(var2)

In [ ]:
var1

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [ ]:
var1[-1][2]

8

In [ ]:
var1[-1][-1]

10

In [ ]:
# extend method  dot extend
var1 = [1,2,3,4,5]
var2 = [6,7,8,9,10]
var1.extend(var2)
print(var1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
del var1[3]
print(var1)

[1, 2, 3, 6, 7, 8, 9, 10]

In [ ]:
# how slicing works
var1 = [1,2,3,4,6, 7, 8, 9, 10]
#print(var1[4])

In [ ]:
tuple
empty = ()
print(type(empty))

<class 'tuple'>

In [ ]:
#slicing
var1 = [1,2,3,4,5,6,7,8,9,10]
print(var1[0:4])

[1, 2, 3, 4]

In [ ]:
# PYTHON
if condition:
    statement to run
else:
    anoher statement to run

SyntaxError: invalid syntax (3034358951.py, line 3)

In [ ]:
if bayo comes to school today:
    we would play football
else:
    there will be no ball to play with

SyntaxError: invalid syntax (3314632205.py, line 1)

In [ ]:
if condition:
    statement to run
elif condition:
    another statement to run
elif condition:
    another statement to run
else:
    last statement

SyntaxError: invalid syntax (3138529279.py, line 2)

In [ ]:
bag = [ 'laptop','charger','notebok', 'pen', 'pod', 'flask', 'wallet', 'mif']
for item in bag:
    print(item)
    len(bag)

laptop
charger
notebok
pen
pod
flask
wallet
mif

In [ ]:
bag = ['spoon', 'wig', 'mirro'] 
bag.append('diaper')
bag

['spoon', 'wig', 'mirro', 'diaper']

In [ ]:
extra_bag==bag

True

In [ ]:
extra_bag.count('wig')

1

In [ ]:
extra_bag.insert(0,'wig')
extra_bag.insert(2,'wig')
extra_bag.insert(4,'wig')
print(extra_bag)

['wig', 'wig', 'wig', 'wig', 'wig', 'wig', 'wig', 'wig', 'wig', 'wig', 'wig', 'wig', 'wig', 'wig', 2, 'spoon', 'wig', 'mirro', 'diaper']

In [ ]:
name = 'Etiosa'
def change_name(loc_name):
    print(loc_name)

In [ ]:
change_name('osas')

NameError: name 'change_name' is not defined

In [ ]:

def register():
    account_name = input("Enter Account Name:")
    while True:
        pin = int(input("Enter 4 digit pin:"))
        if pin not in range (1000,10000):
            print("invalid pin")
         print(f'Please try again!')
    else:
        print("Registration successfull")
        process = False
        return account_name, pin
    

    name, pin = register()
    print(name)
    print (pin)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [ ]:
name =input("Enter your student name:")
gender = input("Enter student gender:")
age = int(input("Enter student age:"))
phone_num = input("Enter your student phone number:")
email_address = input("Enter your student email address:")

In [ ]:
print(f'student Name: {name}')
print{f'student Gender:{gender}'}
print{f'student Age:{age}'}
print{f'student CEll Number:{phone_num}'}
print{f'studentMail:{email_address}'}

In [ ]:
name =('Bumi Ade')
gender =('Female')
Age =(20 years)
phone_ number = (08035402407)
email_address =(22,NNPC Road)

In [ ]:
student info()
return

SyntaxError: invalid syntax (2827370972.py, line 1)